main {
    display: flex;
    flex-direction: column;

}

.text-overflow-clip {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.main-grid {
    height: 100%;
    padding: 30px var(--invisible-lines);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(209px, 18%));
    grid-auto-rows: auto;
    justify-content: space-between;
    row-gap: 40px;
    column-gap: 15px;
    border: 0;
}

.course-card {
    width: 100%;
    height: 100%;
    background-color: var(--bg_default);
    border-radius: var(--border-radius);
    box-shadow: 0 0 3px 0px var(--lines-color);
    box-sizing: border-box;
}

.course-img {
    height: 120px;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    background-color: var(--fixed-bg);
}

.course-info {
    padding: var(--course-info-invisible-lines);
}

.course-info h2 {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.3;
    margin: 0;
}

.course-info h1 {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.3;
}

.course-info h3 {
    font-weight: 200;
    font-size: 12px;
    block-size: fit-content;
    margin-bottom: 0;
}

.rating-stars {
    display: flex;
    flex-direction: row;
    margin-top: 2.1rem;
    color: var(--stars-colors);
}


a:link {
    text-decoration: inherit;
    color: inherit;
}

a:visited {
    text-decoration: inherit;
    color: inherit;
}

.search-bar {
    display: grid;
    grid-template-columns: 0.3fr 5fr 1fr 1fr;
    background-color: var(--bg_default);
    border-radius: 10px;
    height: 100%;
    box-shadow: 0px 0px 4px 2px var(--lines-color);
}

.bar-container {
    padding: 20px var(--invisible-lines);
    height: 7.5vh;
}

.search-input {
    justify-self: stretch;
}

#searchbar {
    height: 100%;
    width: 100%;
    padding: 0;
    border: 0px;
    background-color: var(--bg_default);
    border: none;
    outline: none;
    font-family: var(--font-family);
    color: var(--body-text);
    font-size: 15px;
    font-weight: 400;
}

.search-icon {
    justify-self: center;
    align-self: center;
}

.dropbtn {
    color: var(--body-text);
    font-family: var(--font-family);
    line-height: 1.2;
    width: 100%;
    height: 100%;
    font-size: 10px;
    font-weight: 400;
    border: none;
    cursor: pointer;
    background-color: var(--bg_default);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.dropbtn select,
.dropdown {
    border: 0;
    font-size: 0.8rem;
    cursor: pointer;
    background-color: var(--bg_default);
    color: var(--body-text);
    font-family: var(--font-family);
}

.dropbtn select:focus {
    outline: none;
}

.small-font-size {
    padding: 0px 4px;
    font-size: 0.65rem;
    font-weight: 500;
}

.btn1,
.btn2 {
    border-left: 1px solid var(--lines-color);
}

.btn2 {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.medium-font-size {
    font-size: 0.8rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}


.topics-counter-statement {
    padding-left: var(--invisible-lines);
    font-weight: 700;
    font-size: 1.4rem;
}

.topics-counter-statement,
.statement {
    margin: 0;
    line-height: 1;
}

@media screen and (max-width: 486px) {
    .main-grid {
        justify-content: space-evenly;
    }

    .search-bar {
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(2, 50px);
    }

    .search-icon {
        grid-column: 1 / span 1;
        grid-row: 1 / 2;
        border-bottom: 1px solid var(--lines-color);
        display: grid;
        place-items: center;
        height: -webkit-fill-available;
        width: -webkit-fill-available;
    }

    .search-input {
        grid-column: 2 / span 10;
        grid-row: 1 / 2;
        border-top-right-radius: 15px;
        border-bottom: 1px solid var(--lines-color);
    }

    .btn1,
    .btn1 select,
    .btn1 select option {
        grid-column: 1 / span 5;
        grid-row: 2 / 3;
        border-left: 0px;
        border-bottom-left-radius: 15px;
    }
    .btn2,
    .btn1 select,
    .btn2 select option {
        grid-column: 6 / span 10;
        grid-row: 2 / 3;
        border-bottom-right-radius: 15px;
    }

    .dropbtn select {}

    .bar-container {
        height: auto;
        padding-top: 10%;
    }
}

@media screen and (max-width: 714px) and (min-width: 487px) {
    .search-bar {
        grid-template-columns: 0.7fr 6fr 1fr 1fr;
    }

    .main-grid {
        grid-template-columns: repeat(auto-fill, minmax(209px, 48%));
    }
}

@media screen and (max-width: 941px) and (min-width: 715px) {
    .main-grid {
        grid-template-columns: repeat(auto-fill, minmax(209px, 31%));
    }
}

@media screen and (max-width: 1220px) and (min-width: 942px) {
    .main-grid {
        grid-template-columns: repeat(auto-fill, minmax(209px, 23%));
    }
}